.legal-container {
  position: relative;
  width: 100vw;
  height: 20vh;
  background: rgb(22, 41, 54);
  display: grid;
  justify-items: center;
  align-content: center;
  text-align: center;
  color: rgb(200, 209, 224);
}
.legal-container span {
  width: 75%;
}
.legal-container h1 {
  font-weight: 500;
  font-size: 150%;
}
.legal-container h3 {
  font-weight: 300;
  font-size: 100%;
}
.legal-container h3 a {
  outline: none;
  color: red;
}

@media screen and (max-width: 1200px) {
  .legal-container span {
    width: 90%;
  }
  .legal-container h1 {
    font-weight: 500;
    font-size: 120%;
  }
  .legal-container h3 {
    font-weight: 300;
    font-size: 75%;
  }
}
