.pricing-block {
  position: relative;
  margin: 0 auto;
  width: 80vw;
  height: 100vh;
  border-radius: 5px;
  background: rgb(22, 41, 54);
  color: rgb(200, 209, 224);

  display: flex;
  justify-content: center;
  align-items: center;
}
.pricing-container {
  width: 75%;
  height: 75%;
}
.horizontal-line {
  width: 100%;
  height: 2px;
  background: rgb(82, 85, 92);
}

.pricing-tier-container {
  border-bottom: 2px solid rgb(82, 85, 92);
  width: 80%;
  height: 200px;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 2%;
}
.pricing-tier-container h1 {
  font-weight: 600;
}
.pricing-tier-container h3 {
  font-weight: 300;
}

.paypal-temp {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 240px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paypal-temp img {
  width: 100%;
  object-fit: cover;
}
